<% unless @pool.members.exists?(current_user.id) %>
<%= link_to "Join pool", join_pool_path(@pool.id), class: "btn btn-primary" %>
<% end %>
<h1><%= @pool.name %></h1>

<% @pool.members.each do |user| %>
  <p>
    <%= user.email %> <%= link_to 'Create Entry' , pool_entries_path(@pool) if (user == current_user) %>
  </p>
<% end %>
