<button class="btn btn-lg btn-default">
<%= link_to "Create Entry", "pool_entries_path(pool_id: @pool.id)" %>
</button>
<h1><%= @pool.name %></h1>

<% @users.each do |user| %>
<h3><%= user.email %></h3>
<% end %>
