<div class="flex-row p-3">
<div class="pools">
  <h2>My Pools</h2>
  <% @pools.each do |pool| %>
    <%= pool.name %>
  <% end %>
</div>
<div class="list-group">
  <% @teams.each do |team| %>
  <div class="list-group-item">
    <%= team.full_name %>, <%= team.conference %> <%= team.division %>
  </div>
  <% end %>
</div>



</div>
